<div class="mt-4">
    <h3>Đăng khóa học</h3>
    <form method="POST" action="/courses/store">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="inputName">Tên khóa học</label>
                    <input name="name" type="text" class="form-control" id="inputName" placeholder="Nhập tên">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="inputDescription">Mô tả khóa học</label>
                    <input name="description" type="text" class="form-control" id="inputDescription" placeholder="Nhập khóa học">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="inputDescription">VideoId</label>
                    <input name="videoId" type="text" class="form-control" id="inputDescription" placeholder="Nhập khóa học">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Tạo khóa học</button>
    </form>
</div>